---
import Footer from "../components/smart/Footer.astro";
import Nav from "../components/smart/Nav.astro";

interface Props {
    title?: string;
    forceTitle?: boolean;
    description?: string;
    image?: string;
    marginForNav?: boolean;
    allowRobots?: boolean;
}

const defaultTitle = "NUVA — Technology agency";

const {
    title = defaultTitle,
    forceTitle = false,
    description = "NUVA Software is a technology agency that specializes in building tailormade software and hardware, for specific industry needs.",
    image = "/image.jpg",
    marginForNav = true,
    allowRobots = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <title>
            {forceTitle && title}
            {!forceTitle && (title === defaultTitle ? title : `${title} | ${defaultTitle}`)}
        </title>

        {!allowRobots && <meta name="robots" content="noindex, nofollow" />}

        <meta name="description" content={description} />
        <meta property="og:description" content={description} />

        <meta property="og:image" content={image} />

        <meta property="og:type" content="website" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
        <meta name="msapplication-TileColor" content="#1f855c" />
        <meta name="theme-color" content="#1f855c" />
        <!-- <script src="https://unpkg.com/@tryghost/content-api@1.11.21/umd/content-api.min.js"></script> -->
        <style>
            *,
            *::before,
            *::after {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                min-width: 0;
            }

            html {
                font-size: 20px;
            }
            @font-face {
                font-family: "Butler";
                src:
                    url("/fonts/butler_bold-webfont.woff2") format("woff2"),
                    url("/fonts/butler_bold-webfont.woff") format("woff");
                font-weight: 700;
                font-style: normal;
            }

            @font-face {
                font-family: "Butler";
                src:
                    url("/fonts/butler_light-webfont.woff2") format("woff2"),
                    url("/fonts/butler_light-webfont.woff") format("woff");
                font-weight: 300;
                font-style: normal;
            }
        </style>
    </head>
    <!-- <body class="bg-background text-foreground"> -->
    <body class="text-foreground">
        <Nav />
        {marginForNav && <div class="pt-12 lg:pt-14" />}
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "Butler";
        src:
            url("/fonts/butler_bold-webfont.woff2") format("woff2"),
            url("/fonts/butler_bold-webfont.woff") format("woff");
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "Butler";
        src:
            url("/fonts/butler_light-webfont.woff2") format("woff2"),
            url("/fonts/butler_light-webfont.woff") format("woff");
        font-weight: 300;
        font-style: normal;
    }

    html {
        font-size: 18px;
    }

    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
        :root {
            --background: 0 0% 100%;
            --foreground: 0 0% 0%;
            --border: 0 0% 0%;

            --primary-50: 155.9, 62.2%, 70%;
            --primary-100: 155.9, 62.2%, 60%;
            --primary-200: 155.9, 62.2%, 50%;
            --primary-300: 155.9, 62.2%, 40%;
            --primary-400: 155.9, 62.2%, 30%;
            --primary-500: 155.9, 62.2%, 32.2%; /* #1f855c */
            --primary-600: 155.9, 62.2%, 20%;
            --primary-700: 155.9, 62.2%, 15%;
            --primary-800: 155.9, 62.2%, 10%;
            --primary-900: 155.9, 62.2%, 5%;
            --primary-950: 155.9, 62.2%, 2.5%;

            --secondary-50: 34, 74%, 95%;
            --secondary-100: 34, 74%, 90%;
            --secondary-200: 34, 74%, 85%;
            --secondary-300: 34, 74%, 80%;
            --secondary-400: 34, 74%, 75%;
            --secondary-500: 34, 74%, 70%;
            --secondary-600: 34, 74%, 60%;
            --secondary-700: 34, 74%, 50%;
            --secondary-800: 34, 74%, 40%;
            --secondary-900: 34, 74%, 30%;
            --secondary-950: 34, 74%, 20%;

            --info-50: 225.7, 100%, 95.1%;
            --info-100: 225.7, 100%, 90.1%;
            --info-200: 225.7, 100%, 87.1%;
            --info-300: 225.7, 100%, 83.1%;
            --info-400: 225.7, 100%, 80.1%;
            --info-500: 225.7, 100%, 76.1%;
            --info-600: 225.7, 100%, 65.1%;
            --info-700: 225.7, 100%, 50.1%;
            --info-800: 225.7, 100%, 40.1%;
            --info-900: 225.7, 100%, 30.1%;
            --info-950: 225.7, 100%, 20.1%;

            --success-50: 160.4, 100%, 95.5%;
            --success-100: 160.4, 100%, 90.5%;
            --success-200: 160.4, 100%, 80.5%;
            --success-300: 160.4, 100%, 70.5%;
            --success-400: 160.4, 100%, 60.5%;
            --success-500: 160.4, 100%, 42.5%;
            --success-600: 160.4, 100%, 35.5%;
            --success-700: 160.4, 100%, 30.5%;
            --success-800: 160.4, 100%, 25.5%;
            --success-900: 160.4, 100%, 20.5%;
            --success-950: 160.4, 100%, 15.5%;

            --warning-50: 41.3, 100%, 95.1%;
            --warning-100: 41.3, 100%, 90.1%;
            --warning-200: 41.3, 100%, 80.1%;
            --warning-300: 41.3, 100%, 70.1%;
            --warning-400: 41.3, 100%, 60.1%;
            --warning-500: 41.3, 100%, 54.1%;
            --warning-600: 41.3, 100%, 45.1%;
            --warning-700: 41.3, 100%, 35.1%;
            --warning-800: 41.3, 100%, 25.1%;
            --warning-900: 41.3, 100%, 15.1%;
            --warning-950: 41.3, 100%, 5.1%;

            --danger-50: 346.2, 100%, 95.2%;
            --danger-100: 346.2, 100%, 90.2%;
            --danger-200: 346.2, 100%, 85.2%;
            --danger-300: 346.2, 100%, 80.2%;
            --danger-400: 346.2, 100%, 75.2%;
            --danger-500: 346.2, 100%, 69.2%;
            --danger-600: 346.2, 100%, 55.2%;
            --danger-700: 346.2, 100%, 40.2%;
            --danger-800: 346.2, 100%, 30.2%;
            --danger-900: 346.2, 100%, 20.2%;
            --danger-950: 346.2, 100%, 10.2%;
        }

        :root.dark {
            --background: 158.8 45.9% 10.5%; /* dark green */
            --background: 222.2 47.4% 11.2%; /* slate-900 */

            --foreground: 0 0% 100%;
            --border: 0 0% 100%;
            /* --beige: 41.7, 36.5%, 87.6%; */

            --primary-50: 155.6, 62.4%, 90%;
            --primary-100: 155.6, 62.4%, 80%;
            --primary-200: 155.6, 62.4%, 70%;
            --primary-300: 155.6, 62.4%, 60%;
            --primary-400: 155.6, 62.4%, 50%;
            --primary-500: 155.6, 62.4%, 38.6%; /* #25a06e */
            --primary-600: 155.6, 62.4%, 30%;
            --primary-700: 155.6, 62.4%, 26.3%;
            --primary-800: 155.6, 62.4%, 20%;
            --primary-900: 155.6, 62.4%, 15%;
            --primary-950: 155.6, 62.4%, 10%;
        }
    }

    @layer base {
        :root {
            @apply bg-background text-foreground;
            font-feature-settings:
                "rlig" 1,
                "calt" 1;
        }
    }

    ::selection {
        background-color: hsl(var(--primary-500));
        color: hsl(var(--background));
        text-shadow: none;
    }
</style>
